langchain
structlog
openai
docarray
chromadb==0.3.26
protobuf>=3.20,<5
requests>=2.18, <3
toml>=0.10.1, <2
tiktoken
streamlit
streamlit_chat
duckduckgo-search
matplotlib
bokeh==2.4.3
plotly
altair>=4.0, <6
numpy>=1.19.3, <2
pydeck
pandas>=1.3.0, <3
folium
debugpy
python-dotenv
hydralit
psycopg2-binary
extra-streamlit-components
scrypt
passlib
pycryptodome
opencv-python
pillow>=7.1.0, <10
tensorflow
streamlit-folium
opencv-python
scikit-image
pyzbar